.trafficLight {
    background: black;
    width: 100px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.red, .yellow, .green {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.3;
    cursor: pointer;
    aspect-ratio: 1/1;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.bright {
    opacity: 1;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.traffic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traffic-light-pole {
    width: 20px;
    height: 100px;
    background-color: black;
    margin-bottom: -5px;
}